@import url(/css/style.css);

.grid-capas {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: repeat(4, 250px);
  justify-items: center;
  justify-content: center;
  align-content: center;

  /* grid-area: ; */
}

.item:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  /* z-index: 1; */
}

.item:nth-child(2) {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;

}

.item:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
  /* color: white; */
}

.item:nth-child(4) {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
  /* z-index: 2; */
}

.item:nth-child(5) {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  opacity: 50%;
  /* z-index: 6; */
}

/* .item:nth-child(2) {
  background-color: green;
}

.item:nth-child(5) {
  background-color: green;
}

.item:nth-child(4) {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: green;
} */